{{#each attendee}}
<ul class="nav nav-stacked" id="all-contacts">
    <li class="contact-wrapper">
        <a href="#">
            <span class="contact-img" style='background-image: url(/assets/img/user3-128x128.jpg);'></span>
            <span class="contact-name">{{user_id}}</span>
            <br>
            <p class="recent-message">I am a midfield fraud dsdssdddddddfffffffffffffff</p>
            <span class="date-sent">9/12/16</span>
        </a>
    </li>
</ul>
{{/each}}