<div class="sidebar" data-color="blue">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini btn-round btn-default" id="name-abv">
            
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal" id="name-full">
           {{owner_name}}
        </a>
    </div>
    <div class="side-bar sidebar-wrapper">
        <ul class="nav" id="active-class">
            <li class="" id="/">
                <a href="/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="events">
                <a href="/events">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Events</p>
                </a>
            </li>
            <li id="attendees">
                <a href="/attendees">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Attendees</p>
                </a>
            </li>
            <li id="settings">
                <a href="/settings">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Event setup</p>
                </a>
            </li>
        </ul>
    </div>
</div>