<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <title>Attend {{evt_name}} </title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/coming-sssoon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

</head>

<body>
    <nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook-square"></i>
                            Share
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                            Tweet
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o"></i>
                            Email
                        </a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="main" style="background-image: url('/assets/img/bg-attend.jpg')">

        <!--    Change the image source '/images/default.jpg' with your favourite image.     -->

        <div class="cover black" data-color="black"></div>

        <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

        <div class="container">
            <h1 class="logo cursive">
                {{evt_name}}
            </h1>
            <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

            <div class="content">
                <h4 class="motto">{{noti_msg}}</h4>
                <div class="subscribe">
                    <h5 class="info-text">
                        Please, enter passkey to attend event
                    </h5>
                    <div class="row  justify-content-center">
                        <div class="col-md-0 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                            <form id="attend-event" class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputEmail2">Passkey</label>
                                    <input type="text" name="passkey" class="form-control transparent col-md-11" placeholder="Passkey">
                                </div>
                                <button class="btn btn-danger btn-fill">Attend Event</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!--
        <div class="footer">
            <div class="container">
                Made with
                <i class="fa fa-heart heart"></i> by
                <a href="http://www.creative-tim.com">Creative Tim</a>. Free download
                <a href="http://www.creative-tim.com/product/coming-sssoon-page">here.</a>
            </div>
        </div> --}}

    </div>

    <div class="modal fade" id="attendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Join E-Vites</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="speakers-modal-field">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Preferred Username</label>
                                    <input type="text" class="form-control" id="speakers-field-0" placeholder="uinque">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Full Name</label>
                                    <input type="text" class="form-control" id="speakers-field-0" placeholder="Jon Doe">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="speakers-field-0" placeholder="joedoe@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Phone</label>
                                    <input type="text" class="form-control" id="speakers-field-0" placeholder="+234 907999900">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="speakers-field-0" placeholder="password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Repeat Password</label>
                                    <input type="password" class="form-control" id="speakers-field-0" placeholder="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Social</label>
                                    <input type="text" class="form-control" id="speakers-field-0" placeholder="twitter:@username; facebook:@username; github:@username">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add-speakers-field" class="btn btn-fill btn-primary" style="cursor: pointer;">Exist user?</button>
                    <button type="button" class="btn btn-success btn-fill" id="add-speakers"  style="cursor: pointer;">Join</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/core/form.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/user.script.js"></script>

</html>