<!DOCTYPE html>
<html>
<style>
    body,
    html {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .bgimg {
        background-image: url('/assets/img/bg-2.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }
</style>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<body>
    <div class="wrapper">
        <div class="main-panel">
            <div class="content">
                <div class="bgimg">
                    <div class="topleft">
                        <p>Logo</p>
                    </div>
                    <div class="middle">
                        <h1>COMING SOON</h1>
                        <hr>
                        <p id="demo" style="font-size:30px"></p>
                    </div>
                    <div class="bottomleft">
                        <p>Some text</p>
                        <p id="time">{{evt_date}}</p>
                    </div>
                
                </div>
            <form id="attend-event" method="POST" action="/">
                <div id="cspio-field-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="cspio-email" name="passkey" class="form-control input-lg form-el" type="text" placeholder="Passkey" required/>
                                <span class="input-group-btn">
                                    <button id="cspio-subscribe-btn" type="submit" class="btn btn-lg btn-primary form-el noglow">Join Event</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script>
        var time = document.getElementById("time").innerText.toString();
        // Set the date we're counting down to
        var countDownDate = new Date(time).getTime();

        // Update the count down every 1 second
        var countdownfunction = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(countdownfunction);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>

</body>

</html>