<script>
    let eLink = null,
        link = location.href.split('/')[4];
    if (link.indexOf('.') > -1) {
        eLink = link.split('.')[0],
        user = link.split('.')[1];
        if (!localStorage.getItem('username') || localStorage.getItem('user_id') !== user) {
            location.href = `/attend/${eLink}`
        }
    } else {
        eLink = link.split('.')[0]
        if (!localStorage.getItem('username')) {
            location.href = `/attend/${eLink}` 
        }
    }
</script>
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!--     Fonts and icons     -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    <!--CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"> {{!--
    <script defer src="/static/fontawesome/fa-v4-shim.js"></script> --}}
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/1-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/chat-white.css">

</head>

<body>
    <div id="chat-page-wrapper" style='background-image: url(assets/img/chat-1.png);'>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0" id="contact-section">
            <div class="col-md-12 col-sm-12 mb-15 search-contact-wrapper">
                <input type="text" id="search-contact" class="form-control mt-10" placeholder="Search Contacts" required="required">
            </div>
            <div class="col-md-12 pd-0 contact-list" id="contact-list">
             {{!-- {{> chat.contacts}} --}}
            </div>
        </div>
        {{> modals}}
        <div class="col-lg-9 col-md-9 col-sm-9 pd-0" id="sent-chats">
            <div class="chat-top-bar col-md-9 col-sm-9">
                <p class="chat-user-name" id="evt_name">{{evt_name}}</p>
                <ul class="chat-icons">
                    <li class="" data-toggle="modal" data-target="#chatAgendaModal" data-whatever="@mdo">
                        <i class="now-ui-icons design-2_ruler-pencil"></i>
                    </li>
                    <li class="" data-toggle="modal" data-target="#chatAgendaModal" data-whatever="@mdo">
                        <i class="now-ui-icons education_agenda-bookmark"></i>
                    </li>
                    <li class="" data-toggle="modal" data-target="#chatSpeakerModal" data-whatever="@mdo">
                        <i class="now-ui-icons business_badge"></i>
                    </li>
                    <li class="dropdown" data-toggle="modal" data-target="#chatAgendaModal" data-whatever="@mdo">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" s style="padding:0">
                            <i class="now-ui-icons loader_gear"></i>
                            {{!--
                            <i class="now-ui-icons users_single-02"></i> --}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <a class="dropdown-item text-danger" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
            <div id="msg-body" class="col-md-12 col-sm-12 chats-section">

                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Left Back in the world dshjsdbl,hsd hblsdhblsd hldb;.qjokk#'k ';sdhuo;sd.bkh;</p>
                </div>

                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
            </div>
            <div class="send-message-wrapper">
                <div class="input-group send-messages">
                    <input type="text" class="form-control" id="send-msg" placeholder="Type Message Here..." style="border:none">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm btn-fill m-0" id="send-btn" type="button" style="height:34px">
                            <i class="now-ui-icons ui-1_send"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/assets/js/core/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/now-ui-dashboard.js?v=1.0.1"></script>
    <script src="/assets/js/chat.js"></script>
    <script src="/assets/js/chat.io.js"></script>
    <script src="/assets/js/element.js"></script>
</body>

</html>