<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/sos.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/1-bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/chat-2.css">
</head>

<body>
    <div id="chat-page-wrapper" style='background-image: url(assets/img/chat-1.png);'>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pd-0" id="contact-section">
            <div class="col-md-12 col-sm-12 mb-15 search-contact-wrapper">
                <input type="text" id="search-contact" class="form-control mt-10" placeholder="Search Contacts" required="required">
            </div>
            <div class="col-md-12 pd-0 contact-list">
                <ul class="nav nav-stacked" id="all-contacts">
                   <li class="contact-wrapper">
                        <a href="#">
                            <span class="contact-img" style='background-image: url(assets/img/user3-128x128.jpg);'></span>
                            <span class="contact-name">Logged User Name</span>
                            <br>
                            <p class="recent-message">I am a midfield fraud dsdssdddddddfffffffffffffff</p>
                            <span class="date-sent">9/12/16</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 pd-0" id="sent-chats">
            <div class="chat-top-bar col-md-9 col-sm-9">
                <p class="chat-username">Event Name</p>
            </div>
            <div class="col-md-12 col-sm-12 chats-section">
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Left Back in the world dshjsdbl,hsd hblsdhblsd hldb;.qjokk#'k ';sdhuo;sd.bkh;</p>
                </div>
                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Le</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Le</p>
                </div>
                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Le</p>
                </div>
                <div class="chat-sender-div">
                    <p class="chat-sender">I am among the best Le</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am </p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among </p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the worldfjkgjbhlkjn.lsdlibsdghi,jgvb.nlsdkh,jgvj ilubfbklsdk.dsb,j
                        hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <div class="chat-receiver-div">
                    <p class="chat-receiver">I am among the best Defensive Midfielder in the world ilubfbklsdk.dsb,j hlbsbjsd lbhsblsdlbh jdsl,jsd</p>
                </div>
                <!--<p class="chat-receiver">
                    I am among the best Defensive Midfielder in the world
                </p>
                <p class="chat-sender">
                    I am among the best Left Back in the world
                </p>
                <p class="chat-receiver">
                    I am among the best Defensive Midfielder in the world
                </p>
                <p class="chat-sender">
                    I am among the best Left Back in the world
                </p>
                <p class="chat-receiver">
                    I am among the best Defensive Midfielder in the world
                </p>
                <p class="chat-sender">
                    I am among the best Left Back in the world
                </p>
                <p class="chat-receiver">
                    I am among the best Defensive Midfielder in the world
                </p>
                <p class="chat-sender">
                    I am among the best Left Back in the world
                </p>-->
            </div>
            <div class="">
                <div class="input-group send-message-wrapper">
                    <input type="text" id="type-message" class="form-control" title="" required="required">
                    <span class="input-group-addon">
                        send
                        <i class="fas fa-telegram-plane fa-fw"></i>
                    </span>
                    <span class="input-group-addon">
                       event
                    <i class="icon text-success fas fa-handshake fa-fw"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/core/jquery-3.1.1.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>
    <script src="assets/js/chat.js"></script>
</body>

</html>