<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form id="host-registration" class="login100-form validate-form" action="/host/registration" method="POST">
                <span class="login100-form-title p-b-43">
                   Host Account
                </span>


                <div class="wrap-input100">
                    <input class="input100" type="text" name="organization">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Organization Name</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="host_email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <input class="login100-form-btn" type="submit" value="create Accouut" >
                  {{!--   <button class="login100-form-btn" type="submit">
                      Create Account
                    </button> --}}
                </div>

                <div class="text-center p-t-30 p-b-20">
                    <span class="txt2">
                        <a href="/login">Login</a>
                    </span>
                </div>

            </form>

            <div class="login100-more" style="background-image: url('assets/img/bg-2.jpg');">
            </div>
        </div>
    </div>
</div>