 {{#if user}}
<li>Awesome {{user}}</li>
{{else}}
<li>Fail</li>
{{/if}}


<div class="bgimg">
    <div class="topleft">
        <p>Logo</p>
    </div>
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <div class="bottomleft">
        <p>Some text</p>
        <p id="time">{{evt_date}}</p>
    </div>

</div>

         {{!--
        <nav class="sidebar">
            <ul>
                <li class="sidebar-branding">
                    <h6>Creator studio</h6>
                </li>
                <li class="sidebar-item">
                    <a href="http://">
                        <i class="fas fa-calendar-plus fa-fw"></i>
                        <span class="text-uppercase">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="http://">
                        <i class="fas fa-calendar-plus fa-fw"></i>
                        <span class="text-uppercase">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="http://">
                        <i class="fas fa-calendar-plus fa-fw"></i>
                        <span class="text-uppercase">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="http://">
                        <i class="fas fa-calendar-plus fa-fw"></i>
                        <span class="text-uppercase">Dashboard</span>
                    </a>
                </li>
        
            </ul>
        </nav> --}}





<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>
<script defer src="/static/fontawesome/fa-v4-shim.js"></script>
<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="/assets/css/1-bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/chat-white.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
<link href="assets/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />



<li class="nav-item active">
    <a class="nav-link" href="#">
        <span class="sr-only">(current)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#"></a>
</li>


<form id="attend-event" method="POST" action="/">
    <div id="cspio-field-wrapper">
        <div class="row">
            <div class="col-md-12 seperate">
                <div class="input-group">
                    <input id="cspio-email" name="passkey" class="form-control input-lg form-el" type="text" placeholder="Passkey" required/>
                    <span class="input-group-btn">
                        <button id="cspio-subscribe-btn" type="submit" class="btn btn-lg btn-primary form-el noglow">Join Event</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>


<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
<a href="#" class="btn btn-primary">Button</a>



<div class="col-md-4 pr-1">
    <div class="form-group">
        <label>Re-Occuring</label>
        <select class="custom-select" name="" id="">
            <option value="Weekly"></option>
            <option value="Bi-Weekly"></option>
            <option value="Monthly"></option>
            <option value="Bi-Monthly"></option>
        </select>
    </div>
</div>