 {{#if user}}
<li>Awesome {{user}}</li>
{{else}}
<li>Fail</li>
{{/if}}


<div class="bgimg">
    <div class="topleft">
        <p>Logo</p>
    </div>
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p id="demo" style="font-size:30px"></p>
    </div>
    <div class="bottomleft">
        <p>Some text</p>
        <p id="time">{{evt_date}}</p>
    </div>

</div>

<form id="attend-event" method="POST" action="/">
    <div id="cspio-field-wrapper">
        <div class="row">
            <div class="col-md-12 seperate">
                <div class="input-group">
                    <input id="cspio-email" name="passkey" class="form-control input-lg form-el" type="text" placeholder="Passkey" required/>
                    <span class="input-group-btn">
                        <button id="cspio-subscribe-btn" type="submit" class="btn btn-lg btn-primary form-el noglow">Join Event</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>


<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
<a href="#" class="btn btn-primary">Button</a>



<div class="col-md-4 pr-1">
    <div class="form-group">
        <label>Re-Occuring</label>
        <select class="custom-select" name="" id="">
            <option value="Weekly"></option>
            <option value="Bi-Weekly"></option>
            <option value="Monthly"></option>
            <option value="Bi-Monthly"></option>
        </select>
    </div>
</div>