.side-bar {
    background: #336633 !important;
}

.side-bar>li>a {
    color: #336633 !important;
}

.evitation {
    font-family: cursive;
    font-style: italic;
}

.txt-success {
    color: #336633;
}