.side-bar {
    background: #2CA8FF !important;
}

.side-bar>li>a {
    color: #0056b3 !important;
}

.evitation {
    font-family: cursive;
    font-style: italic;
}

.txt-success {
    color: #336633;
}