.side-bar {
    background: #2CA8FF !important;
}

.side-bar>li>a {
    color: #0056b3 !important;
}

.evitation {
    font-family: cursive;
    font-style: italic;
}

.txt-success {
    color: #336633;
}

.btn-center {
    top: 165px;
    position: relative;
    float: right;
    margin: 0 auto;
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%) !important;
}